
.vs/WPM_API_BitStream/DesignTimeBuild/.dtbcache.v2
.vs/WPM_API_BitStream/v17/.futdcache.v1
.vs/WPM_API_BitStream/v17/.suo
.vs/WPM_API_BitStream/v17/fileList.bin
.vs/WPM_API_BitStream/v17/HierarchyCache.v1.txt
WPM_API.Azure/bin/Debug/net6.0/WPM_API.Azure.dll
WPM_API.Azure/bin/Debug/net6.0/WPM_API.Azure.pdb
WPM_API.Azure/bin/Debug/net6.0/WPM_API.FileRepository.dll
WPM_API.Azure/bin/Debug/net6.0/WPM_API.FileRepository.pdb
WPM_API.Azure/obj/Debug/net6.0/WPM_API.Azure.AssemblyInfo.cs
WPM_API.Azure/obj/Debug/net6.0/WPM_API.Azure.csproj.AssemblyReference.cache
WPM_API.Azure/obj/Debug/net6.0/WPM_API.Azure.dll
WPM_API.Azure/obj/Debug/net6.0/WPM_API.Azure.pdb
WPM_API.Common/bin/Debug/net6.0/WPM_API.Common.dll
WPM_API.Common/bin/Debug/net6.0/WPM_API.Common.pdb
WPM_API.Common/obj/Debug/net6.0/WPM_API.Common.AssemblyInfo.cs
WPM_API.Common/obj/Debug/net6.0/WPM_API.Common.dll
WPM_API.Common/obj/Debug/net6.0/WPM_API.Common.pdb
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API.Common.dll
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API.Common.pdb
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API.Data.ProjectMigration.dll
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API.Data.ProjectMigration.pdb
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API.TransferModels.dll
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API.TransferModels.pdb
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API_Data.dll
WPM_API.Data.PreojectMigration/bin/Debug/net6.0/WPM_API_Data.pdb
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/ref/WPM_API.Data.ProjectMigration.dll
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/refint/WPM_API.Data.ProjectMigration.dll
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/WPM_API.Data.ProjectMigration.AssemblyInfo.cs
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/WPM_API.Data.ProjectMigration.csproj.AssemblyReference.cache
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/WPM_API.Data.ProjectMigration.csproj.CoreCompileInputs.cache
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/WPM_API.Data.ProjectMigration.dll
WPM_API.Data.PreojectMigration/obj/Debug/net6.0/WPM_API.Data.ProjectMigration.pdb
WPM_API.FileRepository/bin/Debug/net6.0/WPM_API.FileRepository.dll
WPM_API.FileRepository/bin/Debug/net6.0/WPM_API.FileRepository.pdb
WPM_API.FileRepository/obj/Debug/net6.0/WPM_API.FileRepository.AssemblyInfo.cs
WPM_API.FileRepository/obj/Debug/net6.0/WPM_API.FileRepository.dll
WPM_API.FileRepository/obj/Debug/net6.0/WPM_API.FileRepository.pdb
WPM_API.TransferModels/bin/Debug/netstandard2.1/WPM_API.TransferModels.dll
WPM_API.TransferModels/bin/Debug/netstandard2.1/WPM_API.TransferModels.pdb
WPM_API.TransferModels/obj/Debug/netstandard2.1/WPM_API.TransferModels.AssemblyInfo.cs
WPM_API.TransferModels/obj/Debug/netstandard2.1/WPM_API.TransferModels.dll
WPM_API.TransferModels/obj/Debug/netstandard2.1/WPM_API.TransferModels.pdb
WPM_API/App_Data/RSAkey.txt
WPM_API/bin/Debug/net6.0/WPM_API.Azure.dll
WPM_API/bin/Debug/net6.0/WPM_API.Azure.pdb
WPM_API/bin/Debug/net6.0/WPM_API.Common.dll
WPM_API/bin/Debug/net6.0/WPM_API.Common.pdb
WPM_API/bin/Debug/net6.0/WPM_API.Data.ProjectMigration.dll
WPM_API/bin/Debug/net6.0/WPM_API.Data.ProjectMigration.pdb
WPM_API/bin/Debug/net6.0/WPM_API.dll
WPM_API/bin/Debug/net6.0/WPM_API.FileRepository.dll
WPM_API/bin/Debug/net6.0/WPM_API.FileRepository.pdb
WPM_API/bin/Debug/net6.0/WPM_API.pdb
WPM_API/bin/Debug/net6.0/WPM_API.TransferModels.dll
WPM_API/bin/Debug/net6.0/WPM_API.TransferModels.pdb
WPM_API/bin/Debug/net6.0/WPM_API_Data.dll
WPM_API/bin/Debug/net6.0/WPM_API_Data.pdb
WPM_API/obj/Debug/net6.0/ref/WPM_API.dll
WPM_API/obj/Debug/net6.0/refint/WPM_API.dll
WPM_API/obj/Debug/net6.0/WPM_API.AssemblyInfo.cs
WPM_API/obj/Debug/net6.0/WPM_API.csproj.AssemblyReference.cache
WPM_API/obj/Debug/net6.0/WPM_API.csproj.CoreCompileInputs.cache
WPM_API/obj/Debug/net6.0/WPM_API.dll
WPM_API/obj/Debug/net6.0/WPM_API.pdb
WPM_API/obj/Debug/net6.0/WPM_API.RazorAssemblyInfo.cs
WPM_API_Data/bin/Debug/net6.0/WPM_API.Common.dll
WPM_API_Data/bin/Debug/net6.0/WPM_API.Common.pdb
WPM_API_Data/bin/Debug/net6.0/WPM_API.TransferModels.dll
WPM_API_Data/bin/Debug/net6.0/WPM_API.TransferModels.pdb
WPM_API_Data/bin/Debug/net6.0/WPM_API_Data.dll
WPM_API_Data/bin/Debug/net6.0/WPM_API_Data.pdb
WPM_API_Data/obj/Debug/net6.0/ref/WPM_API_Data.dll
WPM_API_Data/obj/Debug/net6.0/refint/WPM_API_Data.dll
WPM_API_Data/obj/Debug/net6.0/WPM_API_Data.AssemblyInfo.cs
WPM_API_Data/obj/Debug/net6.0/WPM_API_Data.csproj.AssemblyReference.cache
WPM_API_Data/obj/Debug/net6.0/WPM_API_Data.dll
WPM_API_Data/obj/Debug/net6.0/WPM_API_Data.pdb
